body {
  font-size: 16px;
}

h1, h2, h3 {
  margin-top: 30px;
}

.title {
  margin-top: 40px;
  letter-spacing: -1px;
}

.btn {
  margin-bottom: 3px;
}

.container {
  width: auto;
  max-width: 980px;
  margin-bottom: 40px;
}

table {
  width: 100%;
  display: block;
  min-height: .01%;
  overflow-x: auto;
}

table td, table th {
  padding: 5px;
  line-height: 1.5;
  vertical-align: top;
  border-top: 1px solid #eceeef;
}

table tbody th {
  text-align: left;
  font-weight: normal;
  width: 33%;
}

.flash ul {
  margin-left: 30px;
}

.flash-hide {
  display: none;
}

.noclick {
  pointer-events: none;
}

.yes {
  color: green;
  font-weight: bold;
}

.no {
  color: red;
}

img {
  max-width: 100%;
}

img.hero {
  margin-bottom: 20px;
}