<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>{% if page.url == "/" %}WebAssembly 中文网{% else %}{{ page.title }} - WebAssembly 中文网{% endif %}</title>
  <link rel="stylesheet" type="text/css" href="/css/custom.css">
</head>


<body>
  <header class="page-section-spacious">
    <div class="container">
    <div class="site-logo">
      <h1 class="title">WebAssembly 中文网</h1>
    </div>
    <nav class="site-nav">
      <a class="site-nav-item btn" href="/">概述</a>
      <a class="site-nav-item btn" href="/demo/">Demo</a>
      <a class="site-nav-item btn" href="/getting-started/developers-guide/">快速开始</a>
      {% assign sorted = site.pages | sort:"weight"  %}
      {% assign first_doc = sorted | where:"type","doc" | first %}
      <a class="site-nav-item btn" href="{{ first_doc.url }}">文档</a>
      <a class="site-nav-item btn" href="/community/feedback/">社区</a>
      <a class="site-nav-item btn" href="/roadmap/">路线图</a>
      <a class="site-nav-item btn" href="/docs/faq/">FAQ</a>
    </nav>
    </div>
  </header>
  <section class="banner-update">
    <div class="container">
      <div class="banner-update-icon"></div>
      <span class="banner-update-date"></span>
      <span>多个浏览器已经达成对初始 WebAssembly 版本的一致意见 <a href="/roadmap/">查看更多</a></span>
    </div>
  </section>
  {% if page.lead %}
  <section class="page-section-spacious flush-bottom">
    <div class="container-narrow">
      <p class="lead">{{page.lead}}</p>
    </div>
  </section>
  {% endif %}
