{% include header.html %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-9 col-pop">
        {{content}}
      </div>
      <div class="col-xs-12 col-lg-3">
        <h6 class="side-title">Community</h6>
        <nav class="side-nav">
          <a class="side-nav-item" href="/community/feedback/">Feedback</a>
          <a class="side-nav-item" href="/community/contributing/">Contributing</a>
          <a class="side-nav-item" href="/community/events/">Past Events</a>
          <a class="side-nav-item" href="/community/code-of-conduct/">Code of Conduct</a>
          <a class="side-nav-item" href="https://www.w3.org/community/webassembly/">W3C Community Group ↳</a>
        </nav>
      </div>
    </div>
  </div>
</section>
{% include footer.html %}