{% include header.html %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-9 col-pop">
        {{content}}
      </div>
      <div class="col-xs-12 col-lg-3">
        <h6 class="side-title">Documentation</h6>
        <nav class="side-nav">
        {% assign sorted = site.pages | sort:"weight"  %}
        {% for page in sorted %}{% if page.type == "doc" %}
        <a class="side-nav-item" href="{{ page.url }}">{{ page.title }}</a>
        {% endif %}{% endfor %}
        </nav>
      </div>
    </div>
  </div>
</section>
{% include footer.html %}