{% include header.html %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-9 col-pop">
        {{content}}
      </div>
      <div class="col-xs-12 col-lg-3">
        <h6 class="side-title">快速开始</h6>
        <nav class="side-nav">
          <a class="side-nav-item" href="/getting-started/developers-guide/">开发者引导</a>
          <a class="side-nav-item" href="/getting-started/js-api/">JS API</a>
          <a class="side-nav-item" href="/getting-started/advanced-tools/">进阶工具</a>
          <a class="side-nav-item" href="https://developer.mozilla.org/en-US/docs/WebAssembly">WebAssembly on MDN ↳</a>
        </nav>
      </div>
    </div>
  </div>
</section>
{% include footer.html %}